.home{
    background: #000;
    color: white;
}

.header{
    background-color: blue;
    height: 100px;
}

.sidebar{
    background-color: green;
    height: 750px;
    
}

.content{
    background-color: yellow;
    height: 750px;
    color: #000;
}

.footer{
    background-color: pink;
    height: 100px;
    color: #000;
}